# Exclude Everything
/*

# Ensure .gitignore is included
!.gitignore

# Ensure my projects are included
!/Intersection
!/Playground
!/Prefabs

# Ensure previews are not included
**/previews

# Ensure logs are not included
*.log

# Ensure screenshots are not included
screeshot*.tga