# Exclude Everything
/*

# Ensure .gitignore is included
!.gitignore

# Ensure my projects are included
!/Intersection
!/Playground
!/Prefabs
!/WhatRemains
!/CaveDweller
!/DualFacade
!/RSTestProject
!/ProjectSource
!/project_adventure
!/project_terror
!/project_winter
!/project_rogue_lite

# Ensure prefabs are not included
**/prefabs

# We don't need to store the terrain textures, those are shared across projects
**/Textures

# We don't need to store the brushes, those are shared across projects
**/Brushes

# Ensure prefabs from the project source folder are included
!/ProjectSource/Prefabs
!/ProjectSource/Brushes
!/ProjectSource/Textures

# Ensure previews are not included
**/previews

# Ensure logs are not included
*.log

# Ensure screenshots are not included
screeshot*.tga

# Ensure the working directory is not included
**/work

# Ensure generated LODs are not included
**/source/data/citybuilder/lods/**/*

# Ensure extracted textures are not included
**/textures_export/**/*